body{
  background-color:#DAEAF1;
  text-align: center;
  font-family: 'Outfit', sans-serif;
}

.img{
  width: 100%;
  border-radius: 10px;
}

.QR{
  width: 20%;
  border-radius: 20px;
  margin:150px auto;
}

h5{
  font-weight: bold;
  margin: 15px 0;
}

p{
  color: #7F8487;
}
